*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    padding: 5px;
}
.container{
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.top{
    display: flex;
    gap:15px;
}
.top-color{
    margin-top: 5px;
    width: 30px;
    height: 10px;
    background-color: rgb(209, 125, 35);
}
.top{
    font-family: Varela Round;
    font-weight: 700;
    font-style: bold;
    font-size:15px;
    line-height: 23px;
    letter-spacing: 5%;
    text-transform: uppercase;
}
.title{
    display: flex;
}
.title h1{
    font-family: Varela Round;
    font-weight:700;
    font-style:bold;
    font-size:36px;
    padding-bottom:NONE;
    line-height: 40px;
    color: #23408f;

}
.content{
    display: flex;
   font-family: poppins;
 font-weight: 400;
 font-style: Regular;
 font-size: 18px;
 line-height: 30px;
 letter-spacing: 0%;
}
.para{
    width: 600px;
}
.sub{
    width: 200px;
}
.num{
    padding-right: 20px;
}
.storm-img{
    margin-top: -50px;
    position:sticky;
    top: -10px;
    width: 250px;
    height: 200px;
}

.book{
    background-color: rgb(209, 233, 253);
    padding: 5px 10px 5px 10px;
    width: 150px;
    height: fit-content;
    border-radius: 3px;
    margin-left:10px
}

.icons{
    position:absolute;
    top:10px;
    right:10px
}
.maxi-icon{
    width: 40px;
    margin-right: 15px;
}
.main{
    box-shadow: 5px;
    border: 1px;
}
.side{
    border: gray 1px solid;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    box-shadow: 5px black;
    margin-top: 70px;
    height: fit-content;
    
}
.side-top{
    display: flex;
    justify-content: space-between;
}
.side-top img{
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
}
.nav{
    display: flex;
    justify-content: space-evenly;
}
.plus,.minus{
    width: 15px;
    height: 15px;
}
.box{
    width: 300px;
    height: 450px;
    border: 1px solid black;
}
.btn{
    background-color: rgb(78, 78, 234);
    border: none;
    
}